<div class="aaps-code" id="aaps-code">
<a href="/summergame/player/0/gamecode?text={{ code }}" title="Summer Game Code {{ code }}">
<img src="{{ code_url }}" class="aaps-school-image" alt="{{ code }}" />
</a>
<p class="acc-text">You found summer game code</p>
<p class="acc-text">{{ code }}</p>
</div>
