{#
/**
 * Summer Game Player Info
 */
#}

{% apply spaceless %}
<div id="player-card">

  {# Link to Points Forms #}
  <div id="player-earn-links">
    <h2>Earn Game Points</h2>
    <div class="no-padding-left">
      <a class="button" href="/summergame/player/{{ player.pid }}/gamecode">I have a Game Code!</a>
      {% if summergame_points_enabled %}
        <a class="button base-margin-left" href="/summergame/player/{{ player.pid }}/consume">I Read, Listened to, or Watched something!</a>
      {% endif %}
    </div>
  </div>
  <div class="l-overflow-clear no-margin">
    {# Points Summary #}
    <div id="player-points-summary">
      <h2>Points Summary</h2>
      <table class="account-summary not-fixed-table">
        <tr><th>Game</th><th>Points</th></tr>
        {% for game_term, player_game_points in points %}
          {% if player_game_points.total or player_game_points.balance %}
            <tr><td><a href="#{{ game_term }}">{{ game_term }}</a></td><td>{{ player_game_points.total }}</td></tr>
          {% endif %}
        {% endfor %}
      </table>
      <br>
      <br>
      <a href="#scorecards">See previous game scorecards</a>
      {% if balances|length %}
        <h2>Shop Balances</h2>
        <table class="account-summary not-fixed-table">
          <tr><th>Type</th><th>Balance</th></tr>
          <tr><td>Summer Game Shop Total</td><td><strong>{{ attribute(balances, commerce_game_term) }}</strong></td></tr>
          <tr><td>{{commerce_shop_term}} Prize Count</td><td>({{ balances.prize_count }}/4 items)</td></tr>
          {% if balances.BookPrizeToken is defined %}
            <tr><td>- Book Prize Token</td><td>{{ balances.BookPrizeToken }}</td></tr>
          {% endif %}
        </table>
        {% if (summergame_shop_message_threshold > 0) and (attribute(points, summergame_current_game_term).total > summergame_shop_message_threshold) %}
          <p>{{ summergame_shop_message|raw }}</p>
        {% endif %}
      {% endif %}
      {% if pointsomatic_weekly_totals|length %}
        {# Slice last two weeks from totals #}
        {% set last_current_totals = pointsomatic_weekly_totals[-2:] %}
        <h2>Points-o-Matic Weekly Totals</h2>
        <table class="account-summary not-fixed-table">
          <tr><th>Week</th><th>Points</th></tr>
          <tr><td>Current Week<br>(ending {{ last_current_totals|keys|last}} )</td><td><strong>{{ last_current_totals|last }}</strong></td></tr>
          <tr><td>Last Week<br>(ending {{ last_current_totals|keys|first}} )</td><td><strong>{{ last_current_totals|first }}</strong></td></tr>
        </table>
      {% endif %}
      {% if summergame_points_enabled and progress|length %}
        <h2>Game Point Limits</h2>
        <table class="account-summary not-fixed-table">
          <tr><td><strong>Point Type</strong></td><td><strong>Progress</strong></td></tr>
          <tr>
            <td>Classic Reading Game</td>
            <td>
              {% if completed_classic %}
                Completed on {{ completed_classic }}
              {% else %}
                <a href="/summergame/player/{{ player.pid }}/consume">Log 10 items to complete!</a>
              {% endif %}
            </td>
          </tr>

          {% for row in progress %}
            <tr><td>{{ row.type }}</td><td>{{ row.total }} / {{ row.limit.limit }}</td></tr>
          {% endfor %}

        </table>
        {% if (summergame_shop_message_threshold > 0) and (attribute(points, summergame_current_game_term).total > summergame_shop_message_threshold) %}
          <p>{{ summergame_shop_message|raw }}</p>
        {% endif %}
      {% endif %}
    </div>
    <div id="player-info-table">
      <h2>Player Details (<a href="/summergame/player/{{ player.pid }}/edit">Edit Player Info</a>)</h2>
      <table class="account-summary not-fixed-table">
        <tr>
          <th>Nickname:</th>
          <td>
            {% if player.nickname %}
              {{ player.nickname }}
            {% else %}
              {{ player.name }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Cell&nbsp;Phone:</th>
          <td>
            {% if player.phone %}
              {{ player.phone }}
            {% else %}
              <a href="/summergame/player/{{ player.pid }}/gcpc">GENERATE CODE</a> to link your cell phone to your player
            {% endif %}
          </td>
        </tr>
        <tr><th>Age&nbsp;Group:</th><td>{{ player.agegroup|title }}</td></tr>
        {% if website_user %}
          <tr><th>Website&nbsp;User:</th><td>{{ website_user|raw }}</td></tr>
        {% endif %}
        {% if homecode %}
          <tr><th>Lawn/Library&nbsp;Code:</th><td>{{ homecode|raw }}</td></tr>
        {% endif %}
        {% if summergame_leagues_enabled %}
          <tr><th>Leagues:</th><td><a href="/summergame/player/{{ player.pid }}/leagues">View/Join Leagues</a></td></tr>
        {% endif %}
      </table>
    </div>
    <div id="player-other-players">
      <h2>Extra Players</h2>
      {% if other_players %}
        <table>
          <tr>
            <th>Player</th>
            <th>Set Active</th>
          </tr>
          <tbody>
            {% for other_player in other_players %}
            <tr>
              <td>
                <a href="/summergame/player/{{ other_player.pid }}">
                  {% if other_player.nickname %}
                    {{ other_player.nickname }}
                  {% else %}
                    {{ other_player.name }}
                  {% endif %}
                </a>
              </td>
              <td><a class="button" href="/summergame/player/{{ other_player.pid }}/setactive">Set Active</a></td>
            </tr>
          {% endfor %}
          {% if quick_transfer %}
            <tr><td colspan="2">{{ quick_transfer }}</td></tr>
          {% endif %}
          </tbody>
        </table>
      {% endif %}
      <a href="/summergame/player/extra">Sign up an extra player</a>
    </div>
  </div>
</div>
{% endapply %}
