<div class="sidebar-container">
  {% if viewing_access %}
    <h1 class="t-center ruled-heading large-heading">
      <span>Badge List{% if player.pid %} For {{ player.nickname ? player.nickname : player.name }}{% endif %}</span>
    </h1>
    <div class="page-with-sidebar-content">
      {% if all_players|length > 1 %}
        <p id="badge-list-other-players">
          <b>Show Badge List For:</b><br>
          {% for other in all_players %}
            <a href="/badgelist?pid={{ other.pid }}">{{ other.nickname ? other.nickname : other.name }}</a>
            {% if not loop.last %}
              <br>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      <div id="badge-list">
        {% for name, game in badge_list %}
          <h2>{{ name|replace({'_': ' '}) }}</h2>
          {% for k, series in game %}
            <h3 class="no-margin-bottom">{{ k }} Badge Series</h3>
            <p>
              {{ series.description }}<br>
              Difficulty: {{ series.level|raw }}
            </p>
            <div class="badgelist-badges">
              {% for node in series.nodes %}
                <div class="badgelist-badge l-inline-b">
                  {% if node.hide_badge %}
                    <a href="/node/{{ node.id }}" target="_blank">
                      <img class="sg-admin-badge" src="/{{ directory }}/images/hidden_400.png" alt="Hidden Badge image">
                    </a>
                  {% elseif file_url(node.field_badge_image[0].entity.fileuri) %}
                    {% set badge_image = node.field_badge_image[0].entity.fileuri|split('/')|last %}
                    <a href="/node/{{ node.id }}" target="_blank">
                      <img class="sg-admin-badge {% if not node.badge_earned and user.isAuthenticated %} sg-badge-faded {% endif %}" src="/files/badge-derivs/400/{{ badge_image }}" alt="{{ node.title.value }} badge image" title="{{ node.title.value }}" style="max-width:200px;">
                    </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p><em>You don't have permission to view this player's badge list.</em></p>
  {% endif %}
  {% include directory ~ "/templates/base/nodes/sidebars/summergame.html.twig" %}
</div>
