{#
/**
 * Summer Game Player Info
 */
#}
{% spaceless %}
<div id="player-card">

  {# Link to Points Forms #}
  <div id="player-earn-links">
    <h2>Earn Game Points</h2>
    <div class="no-padding-left">
      <a class="button" href="/summergame/player/gamecode/{{ player.pid }}">I have a Game Code!</a>
      {% if summergame_points_enabled %}
        <a clas="button" href="/summergame/player/consume/{{ player.pid }}">I Read, Listened to, or Watched something!</a>
      {% endif %}
    </div>
  </div> 
  <div class="l-overflow-clear no-margin">
    <div id="player-info-table">
      <h2>Player Details (<a href="/summergame/player/edit/{{ player.pid }}">Edit Player Info</a>)</h2>
      <table class="account-summary">
        <tr><th>Real Name:</th><td>{{ player.name }}</td></tr>
        <tr><th>Nickname:</th><td>{{ player.nickname }}</td></tr>
        <tr>
          <th>Cell Phone:</th>
          <td>
            {% if player.phone %}
              {{ player.phone }}
            {% else %}
              <a href="/summergame/player/gcpc/{{ player.pid }}">GENERATE CODE</a> to attach your cell phone to your player.
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Game Card:</th>
          <td>Print to complete the Classic Reading Game: [<a href="/summergame/pdf/adult" target="_blank">Adult/Teen</a>] | [<a href="/summergame/pdf/youth" target="_blank">Youth Card</a>]</td>
        </tr>
        <tr><th>Age Group:</th><td>{{ player.agegroup|title }}</td></tr>
        <tr>
          <th>Privacy Options:</th>
          <td>
            <ul>
              {% if player.show_leaderboard %}
                <li>Show Nickname & Total Score on Public Leaderboard</li>
              {% endif %}
              {% if player.show_myscore %}
                <li>Show Player Page Score Card and Badges</li>
              {% endif %}
              {% if player.show_titles %}
                <li>Show Titles of Books/Movies/Music in the Score Card</li>
              {% endif %}
            </ul>
          </td>
        </tr>
        <tr><th>Completed Classic Reading Game?:</th><td>{{ completed_classic }}</td></tr>
        {% if website_user %}
          <tr><th>Website User:</th><td>{{ website_user|raw }}</td></tr>
        {% endif %}
      </table>
    </div>

    {# Points Summary #}
    {% set sg_balance = 0 %}
    <div id="player-points-summary">
      <h2>Points Summary</h2>
      <table class="account-summary">
        <tr><th>Game</th><th>Points</th></tr>
        {% for game_term, player_game_points in points %}
          {% if player_game_points.total %}
            <tr><th><a href="#{{ game_term }}">{{ game_term }}</a></th><td>{{ player_game_points.total }}</td></tr>
            {% if game_term starts with 'SummerGame' %}
              {% set sg_balance = sg_balance + player_game_points.balance %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <tr><th>Summer Game Shop Balance</th><td>{{ sg_balance }}</td></tr>
      </table>
    </div>
  </div>

{#
// Following, Followers, Friends
$following = array();
$following_pids = array();
$followers = array();
$friends = array();

$res = db_query("SELECT * FROM sg_ledger WHERE pid = %d AND metadata LIKE '%%fc_player:%%'", $player['pid']);
while ($row = db_fetch_object($res)) {
  // grab player ID
  preg_match('/fc_player:([\d]+)/', $row->metadata, $matches);
  $following_player = summergame_player_load($matches[1]);
  if ($following_player['show_leaderboard']) {
    $player_name = $following_player['nickname'] ? $following_player['nickname'] : $following_player['name'];
  }
  else {
    $player_name = 'Player #' . $following_player['pid'];
  }
  if ($following_player['show_myscore'] || user_access('administer summergame')) {
    $player_name = l($player_name, 'summergame/player/' . $following_player['pid']);
  }
  $following[] = array(
    'count' => ++$following_counter,
    'player' => $player_name,
  );
  $following_pids[] = $matches[1];
}
$res = db_query("SELECT * FROM sg_ledger WHERE metadata LIKE 'fc_player:%d'", $player['pid']);
while ($row = db_fetch_object($res)) {
  $follower_player = summergame_player_load($row->pid);
  if ($follower_player['show_leaderboard']) {
    $player_name = $follower_player['nickname'] ? $follower_player['nickname'] : $follower_player['name'];
  }
  else {
    $player_name = 'Player #' . $follower_player['pid'];
  }
  if ($follower_player['show_myscore'] || user_access('administer summergame')) {
    $player_name = l($player_name, 'summergame/player/' . $follower_player['pid']);
  }
  $followers[] = array(
    'count' => ++$follower_counter,
    'player' => $player_name,
  );
  if (in_array($row->pid, $following_pids)) {
    $friends[] = array(
      'count' => ++$friend_counter,
      'player' => $player_name,
    );
  }
}

$content .= '<div id="friend-code">';
$content .= '<div id="friend-title"><h2>FRIEND CODE: ' . $player['friend_code'] . '</h2>';
if (count($followers) == 0) {
  if ($player['friend_code']) {
    $action = 'I WANT A DIFFERENT';
    $hint = 'Get a new random Friend Code. You can\'t change it once you give it out.';
  }
  else {
    $action = 'GENERATE';
    $hint = "Create a random Friend Code for yourself. You can try again if you don't like it.";
  }
  $options = array('html' => TRUE, 'attributes' => array('class' => 'hint--bottom',
                                                         'data-hint' => $hint,
                                                         ));
  $content .= '[ ' . l($action . ' CODE', 'summergame/player/gfc/' . $player['pid'], $options) . ' ]';
}
$content .= '</div>';
$content .= "<p>You now can have a code of your own! If another player enters your Friend Code, they'll start following you, and " .
            "you'll EACH earn 100 points. If you enter the Friend Code of any of your followers, you'll become Friends and each earn an additional " .
            "50 point bonus.</p>";
$display_limit = 5;

$following_header = '<span class="hint--bottom" data-hint="You have entered these players\' Friend Codes">Following: ' .
                    count($following) . '</span>';
$content .= theme('table',
                  array(array('data' => $following_header, 'colspan' => 2)),
                  array_slice($following, 0, $display_limit));
$followers_header = '<span class="hint--bottom" data-hint="These Players have entered your Friend Code">Followers: ' .
                    count($followers) . '</span>';
$content .= theme('table',
                  array(array('data' => $followers_header, 'colspan' => 2)),
                  array_slice($followers, 0, $display_limit));
$friends_header = '<span class="hint--left" data-hint="You and these Players have entered each others\' Friend Codes">Friends: ' .
                  count($friends) . '</span>';
$content .= theme('table',
                  array(array('data' => $friends_header, 'colspan' => 2)),
                  array_slice($friends, 0, $display_limit));

if ($following_counter > $display_limit ||
    $follower_counter > $display_limit ||
    $friend_counter > $display_limit) {
  $friend_page_link = l('See full list of Friends', 'summergame/player/friends/' . $player['pid']);
  $content .= "<p style=\"clear: left\">(Limiting display to $display_limit players. $friend_page_link.)</p>";
}

$content .= '</div>'; // $friend-code
#}

</div>
{% endspaceless %}
