{% if viewing_access %}
{% if not isByteClub %}
<h1 class="t-center ruled-heading large-heading">
  <span>Badge List{% if player.pid %} For {{ player.nickname ? player.nickname : player.name }}{% endif %}</span>
</h1>
{% else %}
  <!-- BYTE CLUB -->
  <h1 class="t-center ruled-heading large-heading">
    <span>Byte Club Badges</span>
  </h1>
{% endif %}

{% endif %}
{% if not isByteClub %}
<div class="sidebar-container {{ game_term == 'ByteClub' ? 'byteclub-container' : ''}}">
{% endif %}
  {% if viewing_access %}
{% if not isByteClub %}
    <div class="page-with-sidebar-content">
{% endif %}
      {% if all_players|length > 1 %}
        <p id="badge-list-other-players">
          <b>Show Badge List for other Players: </b>
          {% for other in all_players %}
            {% if other.pid != player.pid %}
              <a class="button" href="/badgelist?pid={{ other.pid }}">{{ other.nickname ? other.nickname : other.name }}</a>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      <div id="badge-filters">
        <p>Filter by: <button class="button active" onclick="filterSelection('all')">SHOW ALL</button></p>
        <p>Difficulty:
          <button class="button" onclick="filterSelection('diff1')">⭐️ Standard</button>
          <button class="button" onclick="filterSelection('diff2')">⭐️⭐️ Tricky</button>
          <button class="button" onclick="filterSelection('diff3')">⭐️⭐️⭐️ Super Tricky</button>
          <button class="button" onclick="filterSelection('diff4')">⭐️⭐️⭐️⭐️ Extremely Tricky</button>
        </p>
        {% if list_tags %}
        <p>Tags:
          {% for term_id, tag in list_tags %}
            <button class="button"
                    onmouseover="showDescription('tag{{ term_id }}')"
                    onmouseout="showDescription('')"
                    onclick="filterSelection('tag{{ term_id }}')">{{ tag.name }}</button>
          {% endfor %}
          {% for term_id, tag in list_tags %}
            <div class="badge-tag-description" id="tag{{ term_id }}-description">{{ tag.description|raw }}</div>
          {% endfor %}
        </p>
        {% endif %}
      </div>
      <div id="badge-list">
        {% if not isByteClub %}  
        <h2>{{ game_term|replace({'_': ' '}) }}</h2>
        {% endif %}
        {% for term_id, series in badge_list %}
          <div class="badgelist-series {{ series.classes|join(' ') }} show">
            <h3 id="series-{{ term_id }}" class="no-margin-bottom">{{ series.name }} Badge Series</h3>
            <p>
              {% if series.description %}
                {{ series.description }}<br>
              {% endif %}
              {% if not isByteClub %}
              Difficulty: {{ series.level|raw }}
              {% endif %}
              {% if series.tags %}
                <br>Tags: {{ series.tags|join(', ') }}
              {% endif %}
            </p>
            <div class="badgelist-badges">
              {% for node in series.nodes %}
                <div class="badgelist-badge {{ node.classes|join(' ') }} show-ib">
                  {% if node.hide_badge %}
                    <a href="/node/{{ node.id }}" target="_blank">
                      {% if isByteClub %}
                        <img class="sg-admin-badge" src="/modules/custom/summergame/images/bc-empty-badge.png" alt="Hidden Badge image">
                      {% else %}
                        <img class="sg-admin-badge" src="/{{ directory }}/images/hidden_100.png" alt="Hidden Badge image">
                      {% endif %}
                    </a>
                  {% elseif file_url(node.field_badge_image[0].entity.fileuri) %}
                    {% set badge_image = node.field_badge_image[0].entity.fileuri|split('/')|last %}
                    <a href="/node/{{ node.id }}" target="_blank">
                      <img class="sg-admin-badge {% if not node.badge_earned and user.isAuthenticated %} sg-badge-faded {% endif %}" src="/files/badge-derivs/100/{{ badge_image }}" alt="{{ node.title.value }} badge image" title="{{ node.title.value }}" style="max-width:200px;">
                    </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% if not isByteClub %}  
    </div>
    {% include directory ~ "/templates/base/nodes/sidebars/summergame.html.twig" %}
    {% endif %}
  {% else %}
    <p><em>You don't have permission to view this player's badge list.</em></p>
  {% endif %}
{% if not isByteClub %}
</div>
  
{% endif %}