{#
/**
 * Summer Game Player Info
 */
#}
{% spaceless %}
<div id="player-card">

  {# Link to Points Forms #}
  <div id="player-earn-links">
    <h2>Earn Game Points</h2>
    <div class="no-padding-left">
      <a class="button" href="/summergame/player/{{ player.pid }}/gamecode">I have a Game Code!</a>
      {% if summergame_points_enabled %}
        <a class="button base-margin-left" href="/summergame/player/{{ player.pid }}/consume">I Read, Listened to, or Watched something!</a>
      {% endif %}
    </div>
  </div>
  <div class="l-overflow-clear no-margin">
    {# Points Summary #}
    {% set current_sg_balance, current_prize_count, classic_sg_balance = 0, 0, 0 %}
    <div id="player-points-summary">
      <h2>Points Summary</h2>
      <table class="account-summary not-fixed-table">
        <tr><th>Game</th><th>Points</th></tr>
        {% for game_term, player_game_points in points %}
          {% if game_term == 'SummerGameClassic' %}
            {% set classic_sg_balance = classic_sg_balance + player_game_points.balance %}
          {% endif %}
          {% if player_game_points.total %}
            <tr><td><a href="#{{ game_term }}">{{ game_term }}</a></td><td>{{ player_game_points.total }}</td></tr>
            {% if game_term == summergame_current_game_term %}
              {% set current_sg_balance = current_sg_balance + player_game_points.balance %}
              {% set current_prize_count = current_prize_count + player_game_points.prize_count %}
            {% endif %}
            {% if game_term starts with 'SummerGame' %}
              {% set classic_sg_balance = classic_sg_balance + player_game_points.balance %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <tr><td>{{ summergame_current_game_term }} Shop Balance ({{ current_prize_count }}/4 items)</td><td>{{ current_sg_balance }}</td></tr>
        <tr><td>Classic Shop Balance</td><td>{{ classic_sg_balance }}</td></tr>
      </table>
      {% if (summergame_shop_message_threshold > 0) and (current_sg_balance > summergame_shop_message_threshold) %}
        <p>{{ summergame_shop_message|raw }}</p>
      {% endif %}
    </div>
    <div id="player-info-table">
      <h2>Player Details (<a href="/summergame/player/{{ player.pid }}/edit">Edit Player Info</a>)</h2>
      <table class="account-summary not-fixed-table">
        <tr>
          <th>Nickname:</th>
          <td>
            {% if player.nickname %}
              {{ player.nickname }}
            {% else %}
              {{ player.name }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Cell Phone:</th>
          <td>
            {% if player.phone %}
              {{ player.phone }}
            {% else %}
              <a href="/summergame/player/{{ player.pid }}/gcpc">GENERATE CODE</a> to link your cell phone to your player
            {% endif %}
          </td>
        </tr>
        <tr><th>Age Group:</th><td>{{ player.agegroup|title }}</td></tr>
        {% if website_user %}
          <tr><th>Website User:</th><td>{{ website_user|raw }}</td></tr>
        {% endif %}
      </table>
    </div>
    <div id="player-other-players">
      <h2>Extra Players</h2>
      {% if other_players %}
        <table class="account-summary not-fixed-table">
          <tr>
            <th>Player</th>
            <th>Set Active</th>
          </tr>
          <tbody>
            {% for other_player in other_players %}
            <tr>
              <td>
                <a href="/summergame/player/{{ other_player.pid }}">
                  {% if other_player.nickname %}
                    {{ other_player.nickname }}
                  {% else %}
                    {{ other_player.name }}
                  {% endif %}
                </a>
              </td>
              <td><a class="button" href="/summergame/player/{{ other_player.pid }}/setactive">Set Active</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <a href="/summergame/player/extra">Sign up an extra player</a>
    </div>
  </div>

{#
// Following, Followers, Friends
$following = array();
$following_pids = array();
$followers = array();
$friends = array();

$res = db_query("SELECT * FROM sg_ledger WHERE pid = %d AND metadata LIKE '%%fc_player:%%'", $player['pid']);
while ($row = db_fetch_object($res)) {
  // grab player ID
  preg_match('/fc_player:([\d]+)/', $row->metadata, $matches);
  $following_player = summergame_player_load($matches[1]);
  if ($following_player['show_leaderboard']) {
    $player_name = $following_player['nickname'] ? $following_player['nickname'] : $following_player['name'];
  }
  else {
    $player_name = 'Player #' . $following_player['pid'];
  }
  if ($following_player['show_myscore'] || user_access('administer summergame')) {
    $player_name = l($player_name, 'summergame/player/' . $following_player['pid']);
  }
  $following[] = array(
    'count' => ++$following_counter,
    'player' => $player_name,
  );
  $following_pids[] = $matches[1];
}
$res = db_query("SELECT * FROM sg_ledger WHERE metadata LIKE 'fc_player:%d'", $player['pid']);
while ($row = db_fetch_object($res)) {
  $follower_player = summergame_player_load($row->pid);
  if ($follower_player['show_leaderboard']) {
    $player_name = $follower_player['nickname'] ? $follower_player['nickname'] : $follower_player['name'];
  }
  else {
    $player_name = 'Player #' . $follower_player['pid'];
  }
  if ($follower_player['show_myscore'] || user_access('administer summergame')) {
    $player_name = l($player_name, 'summergame/player/' . $follower_player['pid']);
  }
  $followers[] = array(
    'count' => ++$follower_counter,
    'player' => $player_name,
  );
  if (in_array($row->pid, $following_pids)) {
    $friends[] = array(
      'count' => ++$friend_counter,
      'player' => $player_name,
    );
  }
}

$content .= '<div id="friend-code">';
$content .= '<div id="friend-title"><h2>FRIEND CODE: ' . $player['friend_code'] . '</h2>';
if (count($followers) == 0) {
  if ($player['friend_code']) {
    $action = 'I WANT A DIFFERENT';
    $hint = 'Get a new random Friend Code. You can\'t change it once you give it out.';
  }
  else {
    $action = 'GENERATE';
    $hint = "Create a random Friend Code for yourself. You can try again if you don't like it.";
  }
  $options = array('html' => TRUE, 'attributes' => array('class' => 'hint--bottom',
                                                         'data-hint' => $hint,
                                                         ));
  $content .= '[ ' . l($action . ' CODE', 'summergame/player/gfc/' . $player['pid'], $options) . ' ]';
}
$content .= '</div>';
$content .= "<p>You now can have a code of your own! If another player enters your Friend Code, they'll start following you, and " .
            "you'll EACH earn 100 points. If you enter the Friend Code of any of your followers, you'll become Friends and each earn an additional " .
            "50 point bonus.</p>";
$display_limit = 5;

$following_header = '<span class="hint--bottom" data-hint="You have entered these players\' Friend Codes">Following: ' .
                    count($following) . '</span>';
$content .= theme('table',
                  array(array('data' => $following_header, 'colspan' => 2)),
                  array_slice($following, 0, $display_limit));
$followers_header = '<span class="hint--bottom" data-hint="These Players have entered your Friend Code">Followers: ' .
                    count($followers) . '</span>';
$content .= theme('table',
                  array(array('data' => $followers_header, 'colspan' => 2)),
                  array_slice($followers, 0, $display_limit));
$friends_header = '<span class="hint--left" data-hint="You and these Players have entered each others\' Friend Codes">Friends: ' .
                  count($friends) . '</span>';
$content .= theme('table',
                  array(array('data' => $friends_header, 'colspan' => 2)),
                  array_slice($friends, 0, $display_limit));

if ($following_counter > $display_limit ||
    $follower_counter > $display_limit ||
    $friend_counter > $display_limit) {
  $friend_page_link = l('See full list of Friends', 'summergame/player/friends/' . $player['pid']);
  $content .= "<p style=\"clear: left\">(Limiting display to $display_limit players. $friend_page_link.)</p>";
}

$content .= '</div>'; // $friend-code
#}

</div>
{% endspaceless %}
