{#
/**
 * Summer Game Admin Page
 */
#}

<div id="summergame-admin-page">
  <div class="print-game-cards">
    <h2 class="title">Print Game Cards</h2>
    <a class="button" href="{{ print_page_url }}">Batch Print Game Cards</a>
  </div>

  {% if sg_admin %}
    <div class="admin-page-player-search">
      <h2 class="title">Players</h2>
      {{ summergame_player_search_form }}
    </div>
  {% endif %}

  <h2 class="title game-codes">Game Codes</h2>
  {% if sg_admin %}
    <a class="button" href="/summergame/admin/gamecode">Create New Game Code</a>
  {% endif %}
  {{ summergame_gamecode_search_form }}
  <table class="not-fixed-table smaller-font">
    <tr>
      <th>Text</th>
      <th>Description</th>
      <th>Clue</th>
      <th>Clue Trigger</th>
      <th>Hint</th>
      <th>Points</th>
      <th>Created</th>
      <th>Created By</th>
      <th>Valid Dates</th>
      <th>Game Term</th>
      <th>Redemptions</th>
      <th>Print Sign</th>
    </tr>
    {% for gc_row in gc_rows %}
      <tr>
        <td><a href="/summergame/admin/gamecode/{{ gc_row.id }}">{{ gc_row.Text }} <i class="fa fa-pencil-square-o"></i></a></td>
        <td>{{ gc_row.Description|raw|slice(0, 70) }}</td>
        <td>{{ gc_row.Clue }}</td>
        <td>{{ gc_row.ClueTrigger }}</td>
        <td>{{ gc_row.Hint }}</td>
        <td>{{ gc_row.Points }}</td>
        <td>{{ gc_row.Created }}</td>
        <td>{{ gc_row.CreatedBy|raw }}</td>
        <td>{{ gc_row.ValidDates|raw }}</td>
        <td>{{ gc_row.GameTerm }}</td>
        <td>{{ gc_row.Redemptions }}</td>
        <td><a href="/summergame/pdf/gamecode/{{ gc_row.id }}">Print</a></td>
      </tr>
    {% endfor %}
  </table>
  <p>Showing latest {{ limit }} Game Codes, <a href="/summergame/admin/gamecodes">See all Game Codes</a></p>

  {% if sg_admin %}
    <a class="button" href="/summergame/admin/badge">Create New Badge</a>
  {% endif %}
  <h2 class="title">Badges</h2>
  <table class="not-fixed-table smaller-font">
    <tr>
      <th>Badge ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Level</th>
      <th>Description</th>
      <th>Formula</th>
    </tr>
    {% for badge_row in badge_rows %}
      <tr>
        <td>{{ badge_row.BadgeID|raw }}</td>
        <td>
          <img class="summergame-badge" title="{{ badge_row.Title }}" src="http://play.old.aadl.org/files/sg_images/{{ badge_row.Image }}_100.png">
        </td>
        <td>{{ badge_row.Title }}</td>
        <td>{{ badge_row.Level }}</td>
        <td>{{ badge_row.Description|raw|slice(0, 70) }}</td>
        <td>{{ badge_row.Formula }}</td>
      </tr>
    {% endfor %}
  </table>

  <p>Showing latest {{ limit }} Badges, <a href="/summergame/admin/badges">See all Badges</a></p>

</div>
