{#
/**
 * Summer Game Player Leagues
 */
#}

<h1>Leagues for Player {{ player.name }}</h1>

<p>League Code: {{ league_code }}</p>

<p>League List: <ul>
{% for league in player_leagues %}
  <li>{{ league.name }}</li>
{% endfor %}
</ul></p>

{% if league_leaderboard %}
  <p>
    The Leaderboard updates once a day after midnight. Check back tomorrow to see points scored today.
    Updated {{ league_leaderboard.timestamp|date("l, F j, Y H:i:j") }}
  </p>
  <table>
  <tr>
    <th>Place</th>
    <th>Player</th>
    <th>Total Score</th>
  </tr>
  {% for row in league_leaderboard.rows %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>
        {% if row.show_myscore or sg_admin %}
          <a href="/summergame/player/{{ row.pid }}">{{ row.player }}</a>
        {% else %}
          {{ row.player }}
        {% endif %}
      </td>
      <td>{{ row.score }}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
  <p>No scores found</p>
{% endif %}

<p>Join a League: {{ join_form }}</p>
