{#
/**
 * Summer Game Leaderboard Page
 */
#}

<div id="summergame-leaderboard-page">
  <div id="summergame-leaderboard-header">{{ header_text|raw }}</div>
  <div id="summergame-live-points">
    {{ total|number_format }} POINTS earned from {{ player_count|number_format }} Player{% if player_count != 1 %}s{% endif %} across all games so far today
  </div>

  {% if leaderboard %}
    <h1>{{ staff ? 'Staff ' : '' }}{{ type }}
    {{ range == 'alltime' ? 'All Time' :
       range == 'day' ? 'Previous Day' :
       range == 'week' ? 'Previous Week' :
       range }}
    Leaderboard</h1>
  {% endif %}

  <!-- FILTER TABLES -->
  <form id="sg-scores-filter-form" class="form-width-exception">
    <div class="l-inline-b">
      <label for="sg-scores-game">Scores by Game:</label>
      <select id="sg-scores-game">
        {% for game_term in game_terms %}
          <option value="{{ game_term }}"{% if type == game_term %} selected{% endif %}>{{ game_term }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="l-inline-b">
      <label for="sg-scores-range">Scores by Time:</label>
      <select id="sg-scores-range" class="form-width-exception">
        <option value="day"{% if range == 'day' %} selected{% endif %}>Previous Day</option>
        <option value="week"{% if range == 'week' %} selected{% endif %}>Previous Week</option>
        <option value="alltime"{% if range == 'alltime' %} selected{% endif %}>All Time</option>
      </select>
    </div>
    <div class="l-inline-b">
      <label for="sg-scores-staff">Player Groups:</label>
      <select id="sg-scores-staff" class="form-width-exception">
        <option value="0"{% if staff == 0 %} selected{% endif %}>Public</option>
        <option value="1"{% if staff == 1 %} selected{% endif %}>Staff</option>
      </select>
    </div>
    <div class="l-inline-b">
      <input id="sg-scores-filter" class="button" type="submit" value="Filter">
    </div>
  </form>

  {% if leaderboard %}
    <p>
      The Leaderboard updates once a day after midnight. Check back tomorrow to see points scored today.
      Updated {{ leaderboard_timestamp|date("l, F j, Y H:i:j") }}
    </p>
    <table>
    <tr>
      <th>Place</th>
      <th>Player</th>
      <th>Total Score</th>
    </tr>
    {% for row in leaderboard %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          {% if row.show_myscore or sg_admin %}
            <a href="/summergame/player/{{ row.pid }}">{{ row.player }}</a>
          {% else %}
            {{ row.player }}
          {% endif %}
        </td>
        <td>{{ row.score }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No scores found</p>
  {% endif %}
</div>
