{#
/**
 * Summer Game Player Leagues
 */
#}
<h1 class="t-center ruled-heading large-heading">
  <span>{{ player.nickname ? player.nickname : player.name }}'s Leagues</span>
</h1>

<div class="leagues">

<div id="player-leagues">
  {% if player_leagues|length > 0 %}
  <table><tr><th>League Name</th><th># of members</th></tr>
    {% for league in player_leagues %}
      <tr>
        <td><a href="/summergame/league/{{ league.lid }}">{{ league.name }}'s League</a></td>
        <td>{{ league.player_count }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No leagues joined</p>
  {% endif %}
</div>

<div class="generate-league-wrapper">{{ league_code }}</div>

<div class="manage-leagues">
  <div class="join-league-wrapper">{{ join_form }}</div>
</div>

</div>
