{#
/**
 * Summer Game Admin Gamecodes Page
 */
#}

<div id="summergame-admin-page">

  {{ summergame_gamecode_search_form }}
  <table class="not-fixed-table smaller-font">
    <tr>
      <th>Text</th>
      <th>Description</th>
      <th>Clue</th>
      <th>Clue Trigger</th>
      <th>Hint</th>
      <th>Points</th>
      <th>Created</th>
      <th>Created By</th>
      <th>Valid Dates</th>
      <th>Game Term</th>
      <th>Redemptions</th>
      <th>Print Sign</th>
    </tr>
    {% for row in rows %}
      <tr>
        <td><a href="/summergame/admin/gamecode/{{ row.id }}">{{ row.Text }} <i class="fa fa-pencil-square-o"></i></a></td>
        <td>{{ row.Description|raw|slice(0, 70) }}</td>
        <td>{{ row.Clue }}</td>
        <td>{{ row.ClueTrigger }}</td>
        <td>{{ row.Hint }}</td>
        <td>{{ row.Points }}</td>
        <td>{{ row.Created }}</td>
        <td>{{ row.CreatedBy|raw }}</td>
        <td>{{ row.ValidDates|raw }}</td>
        <td>{{ row.GameTerm }}</td>
        <td>{{ row.Redemptions }}</td>
        <td><a href="/summergame/pdf/gamecode/{{ row.id }}">Print</a></td>
      </tr>
    {% endfor %}
  </table>

</div>
