{#
/**
 * Summer Game Admin Gamecodes Page
 */
#}

<div id="summergame-admin-page">

  <table class="not-fixed-table smaller-font">
    <tr>
      <th>Text</th>
      <th>Description</th>
      <th>Hint</th>
      <th>Points</th>
      <th>Created</th>
      <th>Created By</th>
      <th>Valid Dates</th>
      <th>Game Term</th>
      <th>Redemptions</th>
    </tr>
    {% for row in rows %}
      <tr>
        <td>
          <a href="/summergame/admin/gamecode/{{ row.id }}">{{ row.Text }} <i class="fa fa-pencil-square-o"></i></a><br><br>
          <a href="/summergame/pdf/gamecode/{{ gc_row.id }}">Print Sign</a>
        </td>
        <td class="column-max-width-100">{{ row.Description|length > 50 ? row.Description|slice(0, 50) ~ '...' : row.Description  }}</td>
        <td class="column-max-width-100">{{ row.Hint|length > 50 ? row.Hint|slice(0, 50) ~ '...' : row.Hint  }}</td>
        <td>{{ row.Points }}</td>
        <td>{{ row.Created }}</td>
        <td>{{ row.CreatedBy|raw }}</td>
        <td class="column-max-width-100">{{ row.ValidDates|raw }}</td>
        <td>{{ row.GameTerm }}</td>
        <td>{{ row.Redemptions }}</td>
      </tr>
    {% endfor %}
  </table>

</div>
