{#
/**
 * Summer Game Player Page
 */
#}

<h1 class="t-center ruled-heading large-heading"><span>My {{ game_display_name }}</span></h1>
<div class="sidebar-container">
  <div class="page-with-sidebar-content">
    <div id="summergame-player-page">
      {% if player_access %}
        {% include('@summergame/summergame-player-info.html.twig') %}
      {% endif %}
      {# Player Score #}
      {% for game_term, player_game_points in points %}
        {% if player_game_points.total %}
          <div class="scorecard">
            {% if loop.index0 != 1 %}
              <div class="facets-toggle">
                <span class="facets-toggle-icon">
                  <span class="facets-toggle-symbol">+</span>
                </span>
                <h2 id="{{ game_term }}" class="l-inline-b no-margin-bottom">{{ game_term }} Scorecard</h2>
              </div>
            {% else %}
              <h2 id="{{ game_term }}" class="l-inline-b no-margin-bottom">{{ game_term }} Scorecard</h2>
            {% endif %}
            <div {% if loop.index0 != 1 %} class="no-display" {% endif %}>
              <div class="player-points">
                <h3 class="no-margin-bottom">Points</h3>
                <table>
                  <tr><th>Type</th><th>Points</th></tr>
                  {% for type, type_points in player_game_points.types %}
                    {% if type_points %}
                      <tr><td>{{ type }}</td><td>{{ type_points }}</td></tr>
                    {% endif %}
                  {% endfor %}
                  <tr><td>TOTAL POINTS EARNED</td><td>{{ player_game_points.total }}</td></tr>
                  {% if game_term starts with 'SummerGame' %}
                    <tr><td>Current Points Balance</td><td>{{ player_game_points.balance }}</td></tr>
                  {% endif %}
                </table>

                <div class="scorecard-buttons">
                    <a class="button" href="/summergame/player/{{ player.pid }}/ledger?term={{ game_term }}">See Full Scorecard</a>
                </div>

                <p>Points date range: <br>
                {{ player_game_points.min_timestamp|date('F j, Y, g:i a') }} -<br>
                {{ player_game_points.max_timestamp|date('F j, Y, g:i a') }}</p>
              </div>
              {% if 'summergame' in game_term|lower or 'points-o-matic' in game_term|lower or 'halloffame' in game_term|lower %}
                <div class="player-badges">
                  <h3>Badges</h3>
                  {% if player_game_points.badges %}
                    {% for badge in player_game_points.badges %}
                      {# TODO Replicate theme_summergame_badge function in Drupal 8 #}
                      {% if badge.nid %}
                        {% set badge_img = badge.img|split('/')|last %}
                        <a href="/node/{{ badge.nid }}">
                          <img class="summergame-badge" title="{{ badge.title }}" src="/files/badge-derivs/100/{{ badge_img }}" loading="lazy">
                        </a>
                      {% else %}
                        <img class="summergame-badge" title="{{ badge.title }}" src="{{ badge.img }}" loading="lazy">
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <p>This player hasn't earned any {{ game_term }} badges yet.</p>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div> <!-- .scorecard -->
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include directory ~ "/templates/base/nodes/sidebars/summergame.html.twig" %}
</div>
